<div class="masthead-bg"></div>

<div class="row">
  <div class="col-sm-4 ">
  <h1 class="mt-5">ようこそ<br>読書の世界へ</h1>
  <p>読書体験を記録、共有しましょう</p>
  
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <%= render 'layouts/flash_messages' %>
      
      <div class="form-group">
        <%= f.label :email, 'メールアドレス', class: 'mb-0' %>
        <%= f.email_field :email, class: 'form-control', :style => "height:30px" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, 'パスワード', class: 'mb-0' %>
        <%= f.password_field :password, class: 'form-control', :style => "height:30px" %>
      </div>
      
      <%= f.submit 'ログイン', class: 'btn btn-primary btn-block' %>
    <% end %>
    <p style="font-size:13px; margin-bottom:0px">アカウントをお持ちではないですか？<%= link_to '新規登録', signup_path %></p>
    <p style="font-size:13px;">ゲストユーザのログインは<%= link_to 'こちら', login_guest_path, method: :post %></p>
  </div>
</div>


