<!--index,followers,followingsからパーシャルされる-->
<% if users.any? %>
 <div class="card-columns user-list">
  <% users.each do |user| %>

    <%= link_to books_path(user), :class => "profile-card card", :style => "text-decoration:none; color:black" do%>
      <div class="card-header p-2">
       <span style="font-size:1.5rem;"><%= user.name %></span>
       <span style="float: right;"><%= render 'relationships/follow_button', user: user %></span>
      </div>
      
      <div class="card-body p-2">
        
        <% if user.image? %>
          <%= image_tag user.image.url, class: 'rounded img-fluid mx-auto d-block', :style => 'height:150px', alt: "ユーザ画像"  %>
        <% else %>
          <%= image_tag "no-image.jpg", class: 'rounded img-fluid mx-auto d-block', size: '150', alt: "デフォルト画像" %>
        <% end %> 
        
        <table class="tabel-profile table table-striped table-bordered mt-2 mb-0">
        <tbody>
          <tr>
            <td>
              好きなジャンル
            </td>
          </tr>
          <tr>
            <td style="height:31px;">
              <% if user.genre != nil and user.genre != '' %>
                <%= user.genre %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              好きな著者
            </td>
          </tr>
          <tr>
            <td style="height:31px;">
              <% if user.author != nil and user.author != '' %>
                <%= user.author %>
              <% end %>
           </td>
          </tr>
          <tr>
            <td>
              コメント
            </td>
          </tr>
          <tr>
            <td style="height:61px;">
              <% if user.comment != nil and user.comment != '' %>
                <%= user.comment %>
              <% end %>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    <% end %>
    
  <% end %>
  <%= paginate users %>
</div>
<% else %>
  <P>ユーザはいません</p>
<% end %>
