<%= form_with(model: @user, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

  <%= link_to books_path, :class => "btn btn-primary" do %>
  <i class="fas fa-arrow-left"></i>
  <% end %>

  <%= f.button :type => "submit", :class => "btn btn-primary" do %>
  <i class="fas fa-save"></i>
  <% end %>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

      <div class="form-group">
        <%= f.label :name, 'ユーザ名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード確認' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
    <% end %>
  </div>
</div>

