<div class="row">
  <div class="col-sm-7 offset-sm-2">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= users_path(@user) %>" class="nav-link <%= 'active' if current_page?(users_path(@user)) %>">全ユーザ</a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォローユーザ</a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワーユーザ</a></li>
    </ul>
  </div>
</div>

<%= render 'users', users: @users %>
　
