

<%= link_to books_path, :class => "btn btn-primary" do %>
  <i class="fas fa-arrow-left"></i>
<% end %>


  <% if current_user.id == @book.user_id %>
    
    <%= link_to edit_book_path(@book), :class => "btn btn-primary" do %>
      <i class="fas fa-edit"></i>
    <% end %>

  <% end %>
  
  


<div class="row bg-book-open">
  
  
  <div class="col-sm-5 offset-sm-1 mt-4">
    <div class="card" style="height:190px">
      <div class="card-body">
        <% if @book.image? %>
          <%= image_tag @book.image.url, class: 'rounded img-fluid mx-auto d-block', :style => 'height:140px', alt: "本画像" %>
        <% else %>
          <%= image_tag "no-image-book.jpg", class: 'rounded img-fluid mx-auto d-block', size: '140', alt: "デフォルト画像" %>
        <% end %>
      </div>
    </div>
    
    <table class="table table-striped table-bordered">
      <tbody>
        
        <tr>
          <th class="p-2">状態</th>
        </tr>
        <tr>
          <td class="p-2">            
            <% if @book.status == '0'%>
                未読
            <%elsif @book.status == '1'%>
                読中
            <% else %>
                読了
            <% end %>
          </td>
        </tr>
  
        <tr>
          <th class="p-2">書籍名</th>
        </tr>
        
        <tr>
          <td class="p-2"><%=@book.title%></td>
        </tr>
        
        <tr>
          <th class="p-2">著者名</th>
        </tr>
        
        <tr>
          <td class="p-2"><%=@book.author%></td>
        </tr>
        
        <tr>
          <th class="p-2">登録日</th>
        </tr>
        <tr>
          <td class="p-2"><%= @book.created_at.strftime('%Y/%m/%d')%></td>
        </tr>
        
      </tbody>
    </table>
    
  </div>
  
  <div class="col-sm-5 mt-4">
    
    <table class="table table-striped table-bordered sf">

      <tbody>
        <tr>
          <th class="p-2">感想</th>
        </tr>
        <tr>
          <td class="p-2" style="white-space:pre-line; height:29.5rem;"><%=@book.comment%></td>
        </tr>
      </tbody>
      
    </table>
  
  </div>

</div>


