<%= form_with(model: @book, local: true) do |f| %>

<div class="text-center">
  <h1>書籍の追加</h1>
</div>

<div class="row">
  <aside class="mt-2 mb-3 offset-sm-1 col-sm-3">
    <div class="card">
      <div class="card-body">
        <% if @book.image? %>
          <%= image_tag @book.image.url, class: 'rounded img-fluid', :style => "height:200rem; width:200rem", alt: "本画像" %>
        <% else %>
          <%= image_tag "no-image-book.jpg", class: 'rounded img-fluid', size: '300', alt: "デフォルト画像" %>
        <% end %>
        <%= f.file_field :image, :style => "font-size:10px;" %>
        
      </div>
    </div>
  </aside>
  
  
  <aside class="col-sm-6">
    

      <%= render 'layouts/error_messages', model: f.object %>
        
      <div class="form-group">
        <%= f.label :status, '状態' %>
        <%= f.select :status, {'未読': 0, '読中': 1, '読了': 2}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
      </div>
      
      <div class="form-group">
        <%= f.label :title, '書籍名' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :author, '著者' %>
        <%= f.text_field :author, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :comment, '感想' %>
        <%= f.text_area :comment, class: 'form-control', size: "20x5"%>
      </div>
      
      <%= f.submit '登録', class: 'btn btn-primary btn-block', style: 'margin-bottom: 30px;'  %>
    <% end %>
  </aside>
  
</div>