<!DOCTYPE html>
<html  lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ヨムコレ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    
  </head>


    <!--新規登録画面またはログイン画面の場合-->
  <% if ("https://67ad076fa29a461da79cf5a14ef43718.vfs.cloud9.us-east-1.amazonaws.com/" == request.url) or ("https://67ad076fa29a461da79cf5a14ef43718.vfs.cloud9.us-east-1.amazonaws.com/users" == request.url) or ("https://67ad076fa29a461da79cf5a14ef43718.vfs.cloud9.us-east-1.amazonaws.com/login" == request.url) or ("https://67ad076fa29a461da79cf5a14ef43718.vfs.cloud9.us-east-1.amazonaws.com/signup" == request.url) or ("https://record-of-reading.herokuapp.com/" == request.url) or ("https://record-of-reading.herokuapp.com/signup" == request.url) or ("https://record-of-reading.herokuapp.com/login" == request.url) or ("https://record-of-reading.herokuapp.com/users" == request.url) %>
  
  
  <body class="bg-book">
    <div class="container">
      <%= yield %>
    </div>
    <footer class="bg-light py-3 mt-4">
        <div class="container"><div class="small text-center text-muted">Copyright © 2020 - yomukore</div></div>
    </footer>
  </body>
  
  <% else %>  
  <body> 
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>
    <footer class="py-3" style="background-color:#734e30;">
        <div class="container"><div class="small text-center text-white">Copyright © 2020 - yomukore</div></div>
    </footer>
  </body>
  <% end %>
  
</html>